<head>
    <title>Resturant App</title>
</head>

<body>

{{>resturantview}}
</body>


<template name="resturantview">

    {{#each resturantData}}
        <tr>
            {{> match}}
        </tr>
    {{/each}}


</template>


<template name="match">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center text-success" style="font-size: large">
                {{ResturantName}}
                <br/>
                {{cusines_name_alllist}}
            </div>
            <div class="text-center bold">
                <img src="{{ResturantLogo}}" alt="Italian Trulli">
            </div>
        </div>
        <br/>
        <br/>
    </div>
    <div class="container">


    </div>


</template>
